@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,600;1,100;1,300&display=swap");
header {
  background-color: #002B5B;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Exo", sans-serif;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.navbar .navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  padding: 8px;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .navbar .navMenu {
    top: 70px;
  }
}
.navbar .navLink {
  transition: 0.7s ease;
}
.navbar .navLink:hover {
  color: #77f9f9;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
}
.navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    top: 85px;
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #002B5B;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .naviItem {
    margin: 16px 0;
  }
  .navMenu.active {
    left: 0;
  }
}
.logo img {
  height: 80px;
}
@media screen and (max-width: 576px) {
  .logo img {
    height: 55px;
  }
}

nav ul {
  position: -webkit-sticky;
  position: sticky;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='3000' preserveAspectRatio='none' viewBox='0 0 1440 3000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1148%26quot%3b)' fill='none'%3e%3crect width='1440' height='3000' x='0' y='0' fill='rgba(143%2c 227%2c 207%2c 1)'%3e%3c/rect%3e%3cpath d='M1238.4048715432316 1206.4148488912504L1483.3713737857247 1126.8204073953818 1403.7769322898562 881.8539051528887 1158.810430047363 961.4483466487573z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1059.7076515894178 2822.515324247246L1241.4131502019145 2598.1277206838904 1017.0255466385586 2416.4222220713937 835.3200480260618 2640.8098256347494z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M198.18646662051356 1393.8382798789771L368.3526854597919 1283.3310452590406 117.50872411024784 1083.3353343100914z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M30.468763332876545 2891.6057149089734L263.80740168062954 2958.514492774435 330.71617954609104 2725.175854426682 97.37754119833801 2658.26707656122z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M536.1689958756456 1962.3408823671944L286.8411220761478 2194.842886079853 519.3431257888066 2444.170759879351 768.6709995883043 2211.668756166692z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M50.56141179763412 1501.182070468318L-221.37988911957834 1737.5770368201424 15.015077232246114 2009.5183377373548 286.9563781494586 1773.1233713855304z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M102.26331772934816 1050.3564316534248L355.64415728975166 1059.2046855453393 364.4924111816661 805.8238459849358 111.1115716212626 796.9755920930213z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-79.95556110473696 1384.6196547510249L-41.94085697785209 1624.6350505120674 198.07453878319046 1586.6203463851825 160.05983465630555 1346.60495062414z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1148'%3e%3crect width='1440' height='3000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

.primeraSec {
  margin-top: 85px;
  display: flex;
  justify-content: space-evenly;
  background-image: url(../img/low-poly-grid-haikei.svg);
  background-size: 100%;
}
@media screen and (max-width: 768px) {
  .primeraSec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-block-size: 100vh;
  }
}
@media screen and (max-width: 576px) {
  .primeraSec {
    margin-top: 70px;
    min-height: 100vh;
  }
}
.primeraSec p {
  max-width: 900px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: #FFFFFF;
  text-shadow: #000 3px 5px 2px;
}
@media screen and (max-width: 992px) {
  .primeraSec p {
    font-size: 45px;
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .primeraSec p {
    font-size: 40px;
    text-align: center;
    margin: 10px 5px;
    max-width: 900px;
  }
}
@media screen and (max-width: 576px) {
  .primeraSec p {
    margin: 10px 5px;
    font-size: 35px;
    max-width: 550px;
  }
}
.primeraSec ul {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .primeraSec ul {
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .primeraSec ul {
    gap: 19px;
  }
}
.primeraSec .flexButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .primeraSec .flexButtons {
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
  }
}

.botonUno {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #fff;
  border: 1px solid #25D366;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 40px;
  border-radius: 0.4em;
}
@media screen and (max-width: 992px) {
  .botonUno {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .botonUno {
    font-size: 25px;
  }
}

.botonUno h5 {
  font-family: "Exo", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #25D366;
}
@media screen and (max-width: 992px) {
  .botonUno h5 {
    font-size: 25px;
    top: 14px;
  }
}
@media screen and (max-width: 576px) {
  .botonUno h5 {
    font-size: 21px;
    top: 11px;
  }
}

.botonUno svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
  width: 35px;
}

.botonUno:hover h5 {
  left: 0.5em;
  color: #fff;
}

.botonUno:hover svg {
  opacity: 1;
}

.botonUno:hover {
  background-color: #25D366;
}

.botonDos {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: #fff;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.8s;
  font-size: 35px;
  border-radius: 0.4em;
}
@media screen and (max-width: 992px) {
  .botonDos {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .botonDos {
    font-size: 20px;
  }
}

.botonDos h6 {
  font-family: "Exo", sans-serif;
  left: 50px;
  top: 20px;
  position: absolute;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  transition: 0.8s;
  color: #000;
}
@media screen and (max-width: 992px) {
  .botonDos h6 {
    font-size: 20px;
    top: 14px;
    left: 38px;
  }
}
@media screen and (max-width: 576px) {
  .botonDos h6 {
    font-size: 17px;
    top: 11px;
    left: 30px;
  }
}

.botonDos img {
  width: 50px;
  opacity: 0;
  transition: 0.8s;
}

.botonDos:hover img {
  opacity: 1;
}

.botonDos:hover h6 {
  opacity: 0;
}

.segundaSec {
  margin: 60px 50px 50px;
  display: flex;
  align-items: center;
  gap: 70px;
}
@media screen and (max-width: 992px) {
  .segundaSec {
    flex-direction: column-reverse;
  }
}
.segundaSec .textDos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(78, 123, 113, 0.7490196078);
  border-radius: 15px;
  padding: 15px;
  font-family: "Exo", sans-serif;
  max-width: 700px;
}
.segundaSec .textDos p {
  font-size: 25px;
}
@media screen and (max-width: 992px) {
  .segundaSec .textDos p {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .segundaSec .textDos p {
    font-size: 15px;
  }
}
.segundaSec .imgUno {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .segundaSec .imgUno {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .segundaSec .imgUno {
    width: 280px;
    height: 280px;
  }
}
.segundaSec .imgDos {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 85rem;
  left: 25rem;
  border: solid #fff;
}
@media screen and (max-width: 992px) {
  .segundaSec .imgDos {
    display: none;
  }
}

.tituloSec2 {
  font-family: "Exo", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-top: 150px;
}
@media screen and (max-width: 992px) {
  .tituloSec2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .tituloSec2 {
    font-size: 25px;
  }
}

.titleTres {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo", sans-serif;
  font-size: 2rem;
  margin-top: 200px;
}
.titleTres h2 {
  border-radius: 15px;
  text-align: center;
  margin: 0 10px;
}

.container {
  width: 90%;
  min-height: 40vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  padding: 40px 0;
}

.slider__container {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 576px) {
  .slider__container {
    grid-template-columns: 25px 1fr 25px;
  }
}

.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}
@media screen and (max-width: 768px) {
  .slider__body {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1em;
  }
}

.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}

.slider__text {
  max-width: 600px;
}

.subtitle {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .subtitle {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

.slider__review {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  border-radius: 15px;
  padding: 8px;
  margin-right: 12px;
}
@media screen and (max-width: 576px) {
  .slider__review {
    font-size: 1rem;
    list-style: 1.6;
  }
}

.slider__img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .slider__img {
    width: 210px;
    height: 210px;
  }
}
@media screen and (max-width: 576px) {
  .slider__img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .slider__picture {
    grid-row: 1/2;
  }
}

.slider__arrow {
  cursor: pointer;
  width: 90%;
}
@media screen and (max-width: 576px) {
  .slider__arrow {
    width: 100%;
  }
}

.slider__arrow:nth-of-type(2) {
  justify-self: end;
}

footer {
  font-family: "Exo", sans-serif;
  background-color: #256D85;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}
footer .redes {
  display: flex;
  gap: 40px;
}

.bodyContacto {
  background-color: #002B5B;
  background-image: none;
}

.containerContacto {
  margin-top: 85px;
}
.containerContacto .textContacto {
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2000' preserveAspectRatio='none' viewBox='0 0 1440 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3crect width='1440' height='2000' x='0' y='0' fill='rgba(43%2c 72%2c 101%2c 1)'%3e%3c/rect%3e%3cpath d='M1359 631L1358 1465' stroke-width='6' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M4 1023L3 2237' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M520 1322L519 324' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M402 1808L401 1281' stroke-width='8' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M688 520L687 1338' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M430 613L429 1928' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M571 1013L570 1832' stroke-width='8' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M809 1444L808 2898' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M676 1326L675 2023' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1098 683L1097 -239' stroke-width='8' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1296 1229L1295 2563' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1418 1033L1417 -394' stroke-width='8' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M952 860L951 2198' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M550 1142L549 1903' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M176 832L175 2303' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M815 1227L814 574' stroke-width='8' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1173 1498L1172 494' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M938 149L937 -1250' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1179 55L1178 -915' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M207 1243L206 1782' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M22 1833L21 2569' stroke-width='6' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M484 1604L483 2831' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M461 714L460 2204' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M213 1057L212 -19' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M448 402L447 -170' stroke-width='8' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M80 176L79 1610' stroke-width='8' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M423 1733L422 3175' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M970 939L969 2413' stroke-width='6' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1018 117L1017 1024' stroke-width='10' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M798 148L797 -619' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1011 639L1010 -581' stroke-width='8' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M88 1802L87 1175' stroke-width='6' stroke='url(%23SvgjsLinearGradient1070)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M533 1407L532 300' stroke-width='8' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M495 1718L494 2623' stroke-width='6' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M991 1129L990 2410' stroke-width='10' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M261 1393L260 2702' stroke-width='6' stroke='url(%23SvgjsLinearGradient1069)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='1440' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1069'%3e%3cstop stop-color='rgba(0%2c 43%2c 91%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 43%2c 91%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1070'%3e%3cstop stop-color='rgba(0%2c 43%2c 91%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 43%2c 91%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.containerContacto .textContacto2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.containerContacto h2 {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Exo", sans-serif;
  color: #fafafa;
  text-shadow: #000 3px 5px 2px;
}
.containerContacto p {
  max-width: 750px;
  font-size: 25px;
  font-family: "Exo", sans-serif;
  color: #fafafa;
  text-align: center;
  text-shadow: #000 3px 5px 2px;
}
.containerContacto .imgCel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 150px 0;
}
.containerContacto .imgCel p {
  max-width: 750px;
  color: #fafafa;
}
.containerContacto .botonDos img {
  width: 50px;
  transition: 0.8s;
}
.containerContacto img {
  width: 350px;
  height: 600px;
}

.galeria {
  margin-top: 120px;
}
.galeria h1 {
  font-family: "Exo", sans-serif;
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto;
}
@media screen and (max-width: 576px) {
  .galeria h1 {
    text-decoration: underline;
  }
}
.galeria h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #000;
  top: 50%;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  .galeria h1::before {
    display: none;
  }
}
.galeria h1 span {
  background-color: #8FE3CF;
  padding: 0 15px;
}
@media screen and (max-width: 576px) {
  .galeria h1 span {
    padding: 0;
  }
}
.galeria .img-galery {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}
.galeria .img-galery img {
  width: 100%;
  cursor: pointer;
  transition: 1s;
}
.galeria .img-galery img:hover {
  transform: scale(1.2);
}
.galeria .ful-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.galeria .ful-img img {
  width: 90%;
  max-width: 500px;
}
.galeria .ful-img span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 13%;
  right: 5%;
  font-size: 30px;
  color: #fafafa;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */