@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,200;1,800&display=swap");
header {
  background-color: #002B5B;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Exo", sans-serif;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.navbar .navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.navbar .navLink {
  transition: 0.7s ease;
}
.navbar .navLink:hover {
  color: #77f9f9;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
}
.navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    top: 85px;
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #002B5B;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .naviItem {
    margin: 16px 0;
  }
  .navMenu.active {
    left: 0;
  }
}
.logo img {
  height: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8FE3CF;
  min-height: 1000px;
}

.primeraSec {
  display: flex;
  justify-content: space-evenly;
  background-image: url(../img/polygon-scatter-haikei.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.primeraSec p {
  max-width: 900px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: #FFFFFF;
  text-shadow: #000 3px 5px 2px;
}
.primeraSec ul {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.primeraSec .flexButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.botonUno {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #fff;
  border: 1px solid #25D366;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 40px;
  border-radius: 0.4em;
}

.botonUno h5 {
  font-family: "Exo", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #25D366;
}

.botonUno svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
  width: 35px;
}

.botonUno:hover h5 {
  left: 0.5em;
  color: #fff;
}

.botonUno:hover svg {
  opacity: 1;
}

.botonUno:hover {
  background-color: #25D366;
}

.botonDos {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: #fff;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.8s;
  font-size: 35px;
  border-radius: 0.4em;
}

.botonDos h6 {
  font-family: "Exo", sans-serif;
  left: 50px;
  top: 20px;
  position: absolute;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  transition: 0.8s;
  color: #000;
}

.botonDos img {
  width: 50px;
  opacity: 0;
  transition: 0.8s;
}

.botonDos:hover img {
  opacity: 1;
}

.botonDos:hover h6 {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */