footer{
    font-family: 'Exo', sans-serif;
    background-color: #256D85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;

    & .redes{
        display: flex;
        gap: 40px;
    }

}