

.primeraSec{
    margin-top: 85px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../img/low-poly-grid-haikei.svg);
    background-size: 100%;
    @include tablet{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include mobile{
        margin-top: 70px;
    }

    & p{
        max-width: 900px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 55px;
        color: #FFFFFF;
        text-shadow: #000 3px 5px 2px;
        @include breakNueve{
            font-size: 40px;
            max-width: 500px;
        }
        @include tablet{
            font-size: 35px;
            text-align: center;
        }
        @include mobile{
            font-size: 29px;
            max-width: 400px;
        }
    }

    & ul{
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-top: 25px;
        margin-bottom: 25px;
        @include tablet{
            gap: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        @include mobile{
            gap: 19px;
        }
    }

    & .flexButtons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @include tablet{
            gap: 15px;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}

.botonUno {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 5px;
    position: relative;
    width: 6.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 40px;
    border-radius: 0.4em;
    @include breakNueve{
        font-size: 30px;
    }
    @include mobile{
        font-size: 25px;
    }
}
.botonUno h5 {
    font-family: 'Exo', sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #25D366;
    @include breakNueve{
        font-size: 25px;
        top: 14px;
    }
    @include mobile{
        font-size: 21px;
        top: 11px;
    }
}

.botonUno svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff;
    width: 35px;
}
.botonUno:hover h5 {
    left: 0.5em;
    color: #fff
}
.botonUno:hover svg {
    opacity: 1;
}
.botonUno:hover {
    background-color: #25D366;
}

.botonDos{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: #fff;
    padding: 5px;
    position: relative;
    width: 6.2em;
    height: 2em;
    transition: 0.8s;
    font-size: 35px;
    border-radius: 0.4em;
    @include breakNueve{
        font-size: 25px;
    }
    @include mobile{
        font-size: 20px;
    }
}
.botonDos h6{
    font-family: 'Exo', sans-serif;
    left: 50px;
    top: 20px;
    position: absolute;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    transition: 0.8s;
    color: #000;
    @include breakNueve{
        font-size: 20px;
        top: 14px;
        left: 38px;
    }
    @include mobile{
        font-size: 17px;
        top: 11px;
        left: 30px;
    }
}
.botonDos img{
    width: 50px;
    opacity: 0;
    transition: 0.8s;
}
.botonDos:hover img{
    opacity: 1;
}

.botonDos:hover h6{
    opacity: 0;
}

.segundaSec{
    margin: 120px 50px 50px;
    display: flex;
    align-items: center;
    gap: 70px;
    @include breakNueve{
        flex-direction: column-reverse;
    }
    
    & .textDos{
        font-family: 'Exo', sans-serif;
        max-width: 700px;
    }
    & .textDos p {
        font-size: 25px;
        @include breakNueve{
            font-size: 20px;
        }
        @include breakNueve{
            font-size: 15px;
        }

    }
    & .textDos h2{
        font-size: 35px;
        @include breakNueve{
            font-size: 30px;
        }
        @include mobile{
            font-size: 25px;
        }
    }

    & .imgUno{
        position: relative;
        width: 500px;
        height: 500px;
        @include tablet{
            width: 400px;
            height: 400px;
        }
        @include mobile{
            width: 280px;
            height: 280px;
        }
    }
    
    & .imgDos{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 78rem;
        left: 25rem;
        border: solid #fff;
        @include breakNueve{
            display: none;
        }
    }
}

.terceraSec{
    margin: 120px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    & h2{
        font-family: 'Exo', sans-serif;
        font-size: 45px;
        @include mobile{
            font-size: 35px;
        }
    }
    & p{
        font-family: 'Exo', sans-serif;
        font-size: 30px;
        @include mobile{
            font-size: 20px;
        }
    }
    & button{
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        background-color: #fff;
        border: 1px solid #25D366;
        padding: 5px;
        width: 5.2em;
        height: 2em;
        transition: 0.5s;
        font-size: 24px;
        border-radius: 0.4em;
    }
}
.button2Sec:hover{
    background-color: #000;
    color: #fff;
}